@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1a0b2e;
    color: #ffffff;
}
.humberger-menu {
  display: none;
}
nav{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 32px;
     cursor: pointer;
     font-weight: 500;
     
}
.gardian{
    background:linear-gradient(#f7e93f, #fb09b4, #9100f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
 /* all button design */
.btn{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
     background:linear-gradient(#f7e93f, #fb09b4, #9100f8);
     gap: 4px;
     border-radius: 1000px;
     border: none;
     cursor: pointer;
}
#two-button{
  margin-top: 24px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.green-button {
  border: none;
  border-radius: 1000px;
  border: 1px solid #00ff88;
  padding: 12px 20px 12px 48px;
  color: #00ff88;
  background-color: #1a0b2e;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}








/* Banner design */
.banner {
  padding: 100px 494px 100px 492px;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-container{
 max-width: 550px;
  max-height: 558px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.circle-img {
  max-width: 350px;
  max-height: 350px;
}
.microphone-img {
  max-width: 116.67px;
  max-height: 175px;
  position: absolute;
  top: 16%;
  animation: ashik 3s ease-in-out 0s 1;
}

.tooltip {
  position: absolute;
  background-color: #00ff88;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  color: #1a0b2e;
  font-size: 1.1rem;
  font-weight: 600;
  top: 3%;
  left: 65%;
  cursor: pointer;
}
.banner-container > h1 {
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 8px;
  letter-spacing: 0%;
}
.banner-container > p {
  padding-left: 10px;
}
 /* about design */
.about-contain {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.heading{
  text-align: center;
}
.break-line {
  margin-top: 30px;
  font-size: 1rem;
}
.heading > p {
  line-height: 20px;
  font-size: 1rem;
}
.heading > h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.rating {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 100px;
  cursor: pointer;
}
.rating h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #00ff88;
}

/* techwave */

#techwave-section {
  max-width: 1200px;
  margin: 120px auto;
}
.headline {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.techwave-container > div {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  cursor: pointer;
}
.same-heading,.techwave-container h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
.paragraph ,.techwave-container p {
  line-height: 24px;
  font-size: 1rem;
}
.audio-quality {
  grid-area: audio-quality;
}
.Mobile-Friendly {
  grid-area: Mobile-Friendly;
}
.Global-Community {
  grid-area: Global-Community;
}
.Exclusive-Interviews {
  grid-area: Exclusive-Interviews;
}
.Rich-Resources {
  grid-area: Rich-Resources;
}
.techwave-container {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "audio-quality    Mobile-Friendly   Mobile-Friendly  "
    "audio-quality    Global-Community    Global-Community "
    "Exclusive-Interviews   Exclusive-Interviews   Rich-Resources ";
}
















































@media screen and (max-width:576px){
  .nav-menu, .btn{
    display: none;
  }
  .humberger-menu{
    display: inline;
    padding-right: 23px;
  }

  .banner {
    padding: 10px 20px;
    width: 100%;
    min-height: 466px;
    align-content: center;
  }

  .circle-img {
    max-width: 200px;
    max-height: 200px;
  }
  .microphone-img{
    max-width: 80px;
    max-height: 80px;
  }

    .rating {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 50px;
  }
  .heading > h1 {
    font-size: 2rem;
  }

  .techwave-container {
grid-template-areas:
    "audio-quality "
    "Mobile-Friendly "
    "Global-Community "
    "Exclusive-Interviews "
    "Rich-Resources ";
}
.headline {
  font-size: 2rem;
}

}


























@keyframes ashik{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}